<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= link_to "Home",  :controllers => :static_pages_controller, :action => :home %>
<%= link_to "Contact",  :controllers => :static_pages_controller, :action => :contact %>
<%= link_to "About",  :controllers => :static_pages_controller, :action => :about %>
<%= link_to "Help",  :controllers => :static_pages_controller, :action => :help %>

</body>
</html>
